<p>
    Those are the tasks for today
</p>
<!--
    <button (click) = "getTasks()">
        Click to load the tasks
    </button>
-->
<main class="mainHoldTasks">
    <div class="tasksHolder">
        <!--
            <h2>
                New task
            </h2>
            <form class="editinfo" (submit) = "postNewTask($event)">
                <div>
                    <label>Title:</label>
                    <input type="text" name="addTitle" [ngModel] = "title" placeholder="Add title">
                </div>
                <div>
                    <label>Description:</label>
                    <input type="text" name="addDesc" [ngModel] = "description" placeholder="Add description">
                </div>
                <div>
                    <button type="submit">
                        Create
                    </button>
                </div>
                <div>
                    
                        Values: {{title}} {{description}}
                    
                </div>
            </form>
        -->
        <h3>
            Task List
        </h3>
        <div class="holdTask" *ngFor = "let task of allTasks">
            <div class="title">
                {{task.title}}
            </div>
            <div class="tasksButtons">
                <form class="" action="" (submit) = "taskInfo($event)" >
                    <input id="title" type="hidden" value="{{task.title}}">
                    <button type="submit" class="showInfo">
                        Show more
                    </button>
                </form>
                <!--
                    <form class="" action="" (submit) = "taskInfo($event)" >
                    <input id="title" type="hidden" value="{{task.title}}">
                    <button type="submit" class="">
                        Edit
                    </button>
                </form>
                -->
                <form class="" action="" (submit) = "deleteTask($event)" >
                    <input id="title" type="hidden" value="{{task.title}}">
                    <button type="submit" class="">
                        Delete
                    </button>
                </form>
            </div>
            
        </div>
    </div>
    
    
    <div *ngIf="task2.title" class="holdTaskinfo">
        <h3>
            Task Info
        </h3>
    <app-usergui [task2] = "task2"></app-usergui>
        <!-- 
        <div class="taskInfo">
            <div class="title">
                Description: {{task2.description}}
            </div>
            <div class="title">
                Status: {{task2.completed}}
            </div>
        </div>
        -->
        <!--

        
        <div *ngIf="task2.title" class="edit">
            <h1>
                Edit
            </h1>
            <div class="show">
                <form class="editinfo" (submit) = "editTask($event)">
                    <input id="title2" type="hidden" value="{{task2.title}}">
                    <div>
                        <label>
                            Title:
                        </label>
                        <input type="text" name="editTitle" [(ngModel)] = "newTitle" placeholder="{{task2.title}}">
                    </div>
                    <div>
                        <label>
                            Description:
                        </label>
                        <input type="text" name="editDesc" [(ngModel)] = "newDescription" placeholder="{{task2.description}}">
                    </div>
                    <div>
                        <label>Completed?</label>
                        <div>
                            <label for="Yes">Yes</label>
                            <input type="radio" name="completed" [(ngModel)]="completed" id="editComp" value="true">
                            <label for="no">No</label>
                            <input type="radio" name="completed" [(ngModel)]="completed" id="editComp" value="false">
                        </div>
                    </div>
                    <div>
                        <button type="submit">
                            Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        -->
    </div>
    
</main>
